:root {
  --admin-header-height: 70px;
  --admin-nav-width: 250px;
}

/* https://github.com/hankchizljaw/modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: transparent;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}




/* NAV */

main {
  margin-left: 5rem;
  padding: 1rem;
  background-color: #f4f7fa;
  height: 100vh;
}

.navbar {
  position: fixed;
  background-color: #313541;
  transition: width 400ms ease;
  overflow: hidden;
  top: 0;
  width: 5rem;
  height: 100vh;
  z-index: 1;
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover .link-text {
  display: inline;
}

.navbar:hover .logo svg
{
  margin-left: 11rem;
}

.navbar:hover .logo-text
{
  left: 0;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: #76808f;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: 400ms;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  color: #fff;
  background-color: #1f222d;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: 400ms;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: #fff;
  background-color: #dc5a60;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: 400ms;
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: 400ms;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* APP */

.input-error {
  font-weight: 700;
  color: red;
}

.ui-table-thead > tr > th {
  text-align: start;
}

.col-center {
  text-align: center !important;
}

.col-right {
  text-align: end !important;
}

.table-header {
  padding: 0;
  margin: 0;
  text-align: start;
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 1.5em;
  }
}

.form-container {

  .two-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    width: 100%;
  }

  .tab-panel-content {
    padding: 1em;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 15px;
    width: 100%;
    align-items: center;
    justify-items: start;
  }

  .card {
    padding: 1em 1em 1.5em 1em;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 15px;
    width: 100%;
    align-items: center;
    justify-items: start;

    .group {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: auto auto;
      justify-content: start;
    }

    p-tabView {
      grid-column: 1 / -1;
      justify-self: stretch;
    }

    h1, h2 {
      margin: 0;
      padding: 0;
    }

    .card-title {
      grid-column: 1 / -1;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 15px;
      align-items: center;
    }

    .card-title > *:nth-child(3) {
      justify-self: end;
    }

    .card-buttons {
      width: 100%;
      grid-column: 1 / -1;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 15px;
      align-items: center;
    }

    .card-buttons > *:last-child {
      justify-self: end;
    }

  }

  input {
    width: 100%;
  }

}

