:root {
  --admin-header-height: 70px;
  --admin-nav-width: 250px;
}

.p-sidebar-content {
  margin: 0 !important;
  padding: 0 !important;
}

.p-sidebar-footer {
  padding: 0 !important;
}

.p-sidebar-header {
  padding: 0 !important;
}

/* https://github.com/hankchizljaw/modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */

html {
  height: 100%;
  background-color: #f4f7fa;
}

.ng-sidebar__backdrop {
  background-color: darken(#f4f7fa, 30%) !important;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  height: 100%;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.input-error {
  font-weight: 700;
  color: red;
}

.ui-table-thead > tr > th {
  text-align: start;
}

.col-center {
  text-align: center !important;
}

.col-right {
  text-align: end !important;
}

.table-header {
  padding: 0;
  margin: 0;
  text-align: start;
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 1.5em;
  }
}

.form-container {

  .two-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    width: 100%;
  }

  .tab-panel-content {
    padding: 1em;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 15px;
    width: 100%;
    align-items: center;
    justify-items: start;
  }

  .card {
    padding: 1em 1em 1.5em 1em;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 15px;
    width: 100%;
    align-items: center;
    justify-items: start;

    .group {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: auto auto;
      justify-content: start;
    }

    p-tabView {
      grid-column: 1 / -1;
      justify-self: stretch;
    }

    h1, h2 {
      margin: 0;
      padding: 0;
    }

    .card-title {
      grid-column: 1 / -1;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 15px;
      align-items: center;
    }

    .card-title > *:nth-child(3) {
      justify-self: end;
    }

    .card-buttons {
      width: 100%;
      grid-column: 1 / -1;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 15px;
      align-items: center;
    }

    .card-buttons > *:last-child {
      justify-self: end;
    }

  }

  input {
    width: 100%;
  }

}

