<p-confirmDialog icon="pi pi-exclamation-triangle" />
<p-table [(contextMenuSelection)]="selectedObject"
         [(selection)]="selectedObject"
         [columns]="cols"
         [contextMenu]="cm"
         [loading]="loading"
         [rowTrackBy]="trackById"
         [scrollable]="true"
         [value]="users" dataKey="id"
         selectionMode="single"
         stateKey="/user-list" stateStorage="session">
  <ng-template pTemplate="caption">
    <div class="table-header">
      <span class="title">Users</span>
      <div class="buttons">
        <p-button (click)="edit()" icon="fas fa-plus" label="New" type="button" />
      </div>
    </div>
  </ng-template>

  <ng-template let-columns pTemplate="header">
    <tr>
      @for (col of columns; track col) {
        <th
          [class.col-center]="col.align === 'center'"
          [pSortableColumn]="col.field">
          {{ col.header }}
          <p-sortIcon [field]="col.field" />
        </th>
      }
    </tr>
  </ng-template>
  <ng-template let-columns="columns" let-rowData pTemplate="body">
    <tr (dblclick)="edit(rowData)" [attr.id]="rowData.id" [pContextMenuRow]="rowData"
        [pSelectableRow]="rowData">
      @for (col of columns; track col) {
        <td
          [class]="{'col-right': col.align === 'right', 'col-center': col.align === 'center'}">{{ rowData[col.field] }}
        </td>
      }
    </tr>
  </ng-template>
</p-table>
<p-contextMenu #cm [model]="contextMenuItems" />


