<p-toast [baseZIndex]="10000" key="tst" position="top-right"></p-toast>

<ng-sidebar-container>
  <ng-sidebar #sidebar [(opened)]="sidebarOpen" [closeOnClickBackdrop]="true"
              [mode]="sideBarOver ? 'over' : 'slide'"
              [showBackdrop]="sideBarOver">
    <ul *ngIf="authenticated">
      <li>
        <a (click)="sideBarOver && sidebar.close()" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li *ngIf="admin">
        <a (click)="sideBarOver && sidebar.close()" routerLink="/user-list" routerLinkActive="active">Users</a>
      </li>
      <li class="sidebarmode">
        <p-inputSwitch (onChange)="onSideBarOverChange($event)" [ngModel]="sideBarOver"></p-inputSwitch>
        <span>Sidebar Over</span>
      </li>
      <li>
        <a (click)="logout()" href="#">Logout</a>
      </li>
    </ul>
  </ng-sidebar>
  <div ng-sidebar-content>

    <div class="toolbar">
      <svg (click)="sidebarOpen = !sidebarOpen" [class.hidden]="!authenticated" aria-hidden="true"
           class="svg-inline--fa fa-bars fa-w-14"
           data-icon="bars" data-prefix="fas"
           focusable="false" role="img" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
          fill="currentColor"></path>
      </svg>
      <h2>Angular Starter App with PrimeNG</h2>
    </div>

    <ngx-loading-bar [fixed]="false" [includeSpinner]="false" height="8px"></ngx-loading-bar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</ng-sidebar-container>

