mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  padding-top: 10px;
}


mat-sidenav {
  width: 200px;
}

.toolbar {
  grid-area: toolbar;
  display: grid;
  grid-template-columns: 30px auto;
  grid-gap: 15px;
  align-self: center;
  align-items: center;
  padding: 0 1rem;
}

svg.hidden {
  visibility: hidden;
}

main {
  padding: 30px 0 0 10px;
}
