<form #form="ngForm" (ngSubmit)="form.valid && save(form.value)" class="form-container" novalidate>

  <div class="card">

    <div class="card-title">
      <button icon="fas fa-arrow-left" label="Back" pButton routerLink="/user-list" type="button"></button>
      <h2>User</h2>
    </div>

    <label for="enabled">Enabled</label>
    <div>
      <p-checkbox [ngModel]="selectedObject?.enabled"
                  binary="true" id="enabled" name="enabled"></p-checkbox>
    </div>

    <label for="username">Username</label>
    <div>
      <input #username="ngModel"
             [ngModel]="selectedObject?.userName"
             [size]="50"
             autocapitalize="off"
             autocomplete="username"
             id="username" maxlength="255"
             name="userName"
             pInputText required spellcheck="false"/>

      <div *ngIf="form.submitted && username.invalid" class="input-error">
        <span *ngIf="username.errors.required">Username is mandatory</span>
      </div>
    </div>

    <label for="email">Email</label>
    <div>
      <input #email="ngModel"
             [ngModel]="selectedObject?.email"
             [size]="50"
             autocapitalize="off"
             autocomplete="email"
             email id="email" maxlength="255"
             name="email"
             pInputText required spellcheck="false" type="email"/>

      <div *ngIf="form.submitted && email.invalid" class="input-error">
        <span *ngIf="email.errors.required">Email is mandatory</span>
        <span *ngIf="email.errors.email">Invalid email address</span>
      </div>
    </div>

    <label for="firstName">First Name</label>
    <div>
      <input #firstName="ngModel" [ngModel]="selectedObject?.firstName"
             [size]="50"
             id="firstName"
             maxlength="255"
             name="firstName" pInputText required spellcheck="false"/>
      <div *ngIf="form.submitted && firstName.invalid" class="input-error">
        <span *ngIf="firstName.errors.required">First Name is mandatory</span>
      </div>
    </div>

    <label for="lastName">Last Name</label>
    <div>
      <input #lastName="ngModel" [ngModel]="selectedObject?.lastName"
             [size]="50"
             id="lastName"
             maxlength="255"
             name="lastName" pInputText required spellcheck="false"/>
      <div *ngIf="form.submitted && lastName.invalid" class="input-error">
        <span *ngIf="lastName.errors.required">Last Name is mandatory</span>
      </div>
    </div>

    <label for="authority">Authority</label>
    <div>
      <p-dropdown #authorities="ngModel" [autoDisplayFirst]="false" [ngModel]="selectedObject?.authorities" [options]="authoritiesOptions" id="authority"
                  name="authorities" required></p-dropdown>
      <div *ngIf="form.submitted && authorities.invalid" class="input-error">
        <span *ngIf="authorities.errors.required">Authority is mandatory</span>
      </div>
    </div>

    <label for="passwordHash">New Password</label>
    <div>
      <input [ngModel]="selectedObject?.passwordHash"
             [size]="50"
             autocomplete="new-password"
             id="passwordHash"
             name="passwordHash"
             pInputText pPassword
             promptLabel="Enter new passord"
             type="password"/>
    </div>

    <div class="card-buttons">
      <p-button icon="fas fa-save" label="Save" styleClass="ui-button-success" type="submit"></p-button>
    </div>

  </div>
</form>


